* {
  margin: 0px;
  padding: 0px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
h4 {
  font-family: "Courier New", Courier, monospace;
}
