.container {
  background-color: antiquewhite;
  width: 50vw;
  height: 40vh;
}
.box {
  background-color: aquamarine;
  width: 5vw;
  height: 4vh;
  transition-property: background-color, transform;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.translate {
  transform: translateX(10vw) translateY(10vh) scale(2);
  background-color: blue;
}
